@media (max-width: 1250px) {

  .nav .contenedorNav .log .imgLog {
    margin-top: 6px;
  }

  .nav {
    padding: 10px;
    height: 140px;
    
    .contenedorNav {
      height: 160px;
      width: 90%;
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      position: relative;

      .log {

        left: 83%;
        display: initial;
        height: initial;
        top: 0;

      }

      .logo {
        height: initial;
        top: 0;
        .imgLogo {
          height: 60px;
          width: 80px;
        }
      }


      .carrito {

        display: initial;
        height: initial;
        top: 0;

        .imgCarrito {
          height: 40px;
          width: 40px;
          margin-top: 6px;
        }
      }

      .estilosBuscador {
        width: 100%;

        .seleccionados {
          top: 105%;
          width: 100%;
          
        }
      }

    }

    .navCategorias {
      display: none;
    }
  }


  .contProductoss{

    .contProductoss1{

        width: 90%;
    }
  }


  .productos {
    margin-top: 140px;

  }

  .contProductoss {
    margin-top: 140px;
  } 

  .contProducto {
    margin-top: 140px;
  }

  .contenLogin {
    margin-top: 140px;
  }

  .extra{
    height: 700px;
  }
  .scroll{
    height: 800px;
  }
}


